* {
	margin: 0;
	padding: 0;
}
body {
	max-width: 540px;
	min-width: 320px;
	margin: 0 auto;
	font: normal 14px/1.5 tahoma,"lucida grande",verdana,"microsoft yahei";
	color: #000;
	background-color: #f2f2f2;
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
}
a {
	text-decoration: none;
	color: #222;
}
ul {
	list-style: none;
}
div {
	box-sizing: border-box;
}
.search-index {
	display: flex;
	position: fixed;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	height: 44px;
	max-width: 540px;
	min-width: 320px;
	background-color: #f6f6f6;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.search {
	flex: 1;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 26px;
	margin: auto 10px;
	box-shadow: #ccc;
	font-size: 12px;
	color: #666;
	line-height: 24px;
	padding-left: 25px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: url(../images/sprite.png) no-repeat -59px -279px;
	background-size: 104px auto;
	
}
.user {	
	width: 44px;
	height: 44px;
	font-size: 12px;
	text-align: center;
	color: #2eaae0;
}
.user::before {
	content: "";
	display: block;
	width: 23px;
	height: 23px;
	background: url(../images/sprite.png) no-repeat -59px -194px;
	background-size: 104px auto;	
	margin: 2px auto 0;
}
.goBack {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: url(../images/back.png) no-repeat;
    background-size: 38px 38px;
}
.focus {
	overflow: hidden;
	position: relative;
	margin-top: 44px;
}
.focus img {
	width: 100%;
}
.focus ul {
	width: 500%;
	margin-left: -100%;
}
.focus ul li {
	float: left;
	width: 20%;
}
.focus ol {
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin: 0;
}
.focus ol li {
	display: inline-block;
	width: 5px;
	height: 5px;
	list-style: none;
	background-color: #FFF;
	border-radius: 2px;
	transition: all 0.1s;
}
.focus ol .current {
	width: 15px;
}
.focus img {
	width: 100%;
}
.local-nav {
	display: flex;
	height: 64px;
	background-color: #fff;
	margin: 3px 4px;
	border-radius: 5px;
}
.local-nav li {
	flex: 1;
}
.local-nav a {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
}

.local-nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    background-color: pink;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}

.local-nav li .local-nav-icon-icon2 {
    background-position: 0 -32px;
}

.local-nav li .local-nav-icon-icon3 {
    background-position: 0 -64px;
}

.local-nav li .local-nav-icon-icon4 {
    background-position: 0 -96px;
}

.local-nav li .local-nav-icon-icon5 {
    background-position: 0 -128px;
}
nav {
	overflow: hidden;
	border-radius: 8px;
	margin: 0 4px 3px;
}
.nav-common {
	display: flex;
	height: 88px;
	background-color: pink;
}
.nav-common:nth-child(1) {
	background: -webkit-linear-gradient(left, #ea5a5a, #fa994d);
}
.nav-common:nth-child(2) {
	margin: 3px 0;
	background: -webkit-linear-gradient(left, #4b90ed, #53bced);
}
.nav-common:nth-child(3) {
	background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}
.nav-items {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.nav-items a {
	flex: 1;
	text-align: center;
	line-height: 44px;
	color: #fff;
	font-size: 14px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}
.nav-items a:nth-child(1) {
	border-bottom: 1px solid #fff;
}
.nav-items:nth-child(1) a {
	border: 0;
	background: url(../images/hotel.png) no-repeat bottom center;
	background-size: 121px auto;
}
.nav-items:nth-child(-n+2) {
	border-right: 1px solid #fff;
}

.subnav-entry {
	display: flex;
	border-radius: 8px;
	background-color: #fff;
	/* margin: 0 4px; */
	flex-wrap: wrap;
	padding: 5px 0;
}
.subnav-entry li {
	flex: 20%;
}
.subnav-entry a {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.subnav-entry-icon {
    width: 28px;
    height: 28px;
    background-color: pink;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 28px auto;
}
.sales-box {
	border-top: 1px solid #ccc;
	background-color: #fff;
	margin: 5px;
}
.sales-hd {
	position: relative;
	height: 44px;
	border-bottom: 1px solid #ccc;
}
.sales-hd h2 {
	position: relative;
	text-indent: -999px;
	overflow: hidden;
}
.sales-hd h2::after {
	position: absolute;
	top: 15px;
	left: 20px;
	content: "";
	width: 79px;
	height: 15px;
	background:url(../images/hot.png) no-repeat 0 -20px;
	background-size: 79px auto;
}
.more {
	position: absolute;
	top: 10px;
	right: 10px;
	background:-webkit-linear-gradient(left, #ff506c, #ff6bc6);
	border-radius: 15px;
	font-size: 12px;
	padding: 3px 25px 3px 10px;
	color: #fffs;
}
.more::after {
	content: "";
	position: absolute;
	top: 8px;
	right: 10px;
	width: 7px;
	height: 7px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);	
}
.row {
	display: flex;
}
.row a {
	flex: 1;
	border-bottom: 1px solid #eee;
}
.row a:nth-child(1) {
	border-right: 1px solid #eee;
}
.row a img {
	width: 100%;
}
footer .footer-all {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	max-width: 540px;
	min-width: 320px;
	width: 100%;
	height: 51px;
	line-height: 26px;
	background-color: #fff;
	margin: 3px 4px;
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #C2C2C2;
}
 .footer-all li {
	 flex: 1;
 }
 .footer-all li:nth-child(2) {
	 border-left: 1px solid #ccc;
	 border-right: 1px solid #ccc;
 }
 .footer-all a {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 font-size: 12px;
 }
footer li .footer-icon1 {
 	width: 16px;
 	height: 16px;
 	margin-top: 10px;
 	background: url(../images/sprite.png) no-repeat -60px -154px;
 	background-size: 104px auto;
}
footer li .footer-icon2 {
	width: 16px;
	height: 16px;
	margin-top: 10px;
	background: url(../images/sprite.png) no-repeat -60px -174px;
	background-size: 104px auto;
}
footer li .footer-icon3 {
	width: 18px;
	height: 18px;
	margin-top: 8px;
	background: url(../images/sprite.png) no-repeat -60px -310px;
	background-size: 104px auto;
} 